body, html {
  padding: 0;
  margin: 0;
}


.app-header {
  background-color: #51A0D5;
  padding: 100px;
  color: white;
  font-size: 20pt;


  h2 {
    position: absolute;
    top: 150px;
    left:50px;
    width: 50%;
    margin:2px;
  }
}

.app-input {
  float: right;
  position: absolute;
  top: 160px;
  right: 50px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 8px;
  color: #666;
  width: 200px;
  margin-bottom: 30px;
}

.overlay {
  text-align: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .background-layer {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #5f5b5b;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
  }

  .content-layer {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;

    .close-button {
      position: fixed;
      top: 5px;
      right: 5px
    }

    .image {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
