.gallery-root {
  text-align: center;
  height: 100%;
  background-color: #FAFAFA;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.gallery-intro {
  font-size: 15pt;
}
