.image-root {
  background-size: cover;
  background-position: center center;
  display:inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  flex-wrap:wrap;


  > #center-icons {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > #center-icons {
    visibility: visible;
  }

  .image-icon-center {
    font-size: 20px;
    vertical-align: middle;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 3px;

    &:hover {
      color: white;
      border-color: white;
    }
  }

  > #bottom-icons {
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    width: 10%;
    height: 10%;
    left: 10%;
    top: 80%;
    color: white;
    padding: 15px;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    white-space: pre;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > #bottom-icons {
    visibility: visible;
  }

  .image-icon-bottom {
    font-size: 15px;
    vertical-align: middle;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;

    &:hover {
      color: white;
      border-color: white;
    }

    &.liked {
      color: white;
    }
  }

  &.filter1 {
    filter: grayscale(100%);
  }

  &.filter2 {
    filter: sepia(100%);
    -webkit-filter: sepia(1);
    -ms-filter: sepia(100%);
  }

  &.filter3 {
    filter: drop-shadow(16px 16px 20px red) invert(75%);
  }

  &.filter4 {
    filter: hue-rotate(140deg);
    -webkit-filter: hue-rotate(140deg);
  }

  &.filter5 {
    filter: invert(.8);
    -webkit-filter: invert(.8);
  }
}
